<ul>
  {% assign pre = type | append: '--' %}
  {% for tag in collection.all_tags %}
      {% if tag contains pre and tag != type %}

        <li>
          <a  data-collection="{{collection.title}}" 
              data-tag="{{tag}}" 
              href="/collections/{{collection.title}}/{{tag}}"
          >
            {{tag | remove: pre }}
          </a>
        </li>

      {% endif %}
  {% endfor %}

</ul>